/*design*/
.mainContainer {
background-size: 80%;
background-position: 70% 10%;
}
.squaresContainer > div {
width: 110px;
height: 110px;
background-size: 110px;
}
.squaresContainer div img {
width: 110px;
height: 110px;
}
.button {
width: 70%;
font-size: 80%;
}